.dau{
    text-align: center;
}
.vien{
    background-color: rgb(65, 146, 92);
    margin: auto;
    width: 30%;
    border: 4px solid rgb(5, 5, 5);
    padding: 30px;
}
.hienthi{
    margin: auto;
    padding: 10px;
    text-align: center;
}
.nhap{
    text-align: center;
    margin: auto;
    padding: 10px;
}
